<div class="login_form">


<div class="registration-form">

    
      <!-- Login Title -->
      <h1 class="animate__animated animate__backInDown">
        <span class="title-word title-word-1">R</span>
        <span class="title-word title-word-2">E</span>
        <span class="title-word title-word-3">G</span>
        <span class="title-word title-word-4">I</span>
        <span class="title-word title-word-5">S</span>
        <span class="title-word title-word-4">T</span>
        <span class="title-word title-word-2">E</span>
        <span class="title-word title-word-1">R</span>
      </h1>
      <br>
      <br>
      <br>
      <br>
    <div class="form">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form__group field">
          <label for="name" class="form__label">Name</label>
          <input type="text" id="name" class="form__field"  formControlName="name" [class.is-invalid]="formControls['name'].invalid && formControls['name'].touched">
          <div class="invalid-feedback" *ngIf="formControls['name'].invalid && formControls['name'].touched">
            Please enter your name.
          </div>
        </div>
    
        <div class="form__group field">
          <label for="email" class="form__label">Email</label>
          <input type="email" id="email" class="form__field" formControlName="email" [class.is-invalid]="formControls['email'].invalid && formControls['email'].touched">
          <div class="invalid-feedback" *ngIf="formControls['email'].invalid && formControls['email'].touched">
            Please enter a valid email address.
          </div>
        </div>
    
        <div class="form__group field">
          <label for="password" class="form__label">Password</label>
          <input type="password" class="form__field" id="password" formControlName="password" [class.is-invalid]="formControls['password'].invalid && formControls['password'].touched">
          <div class="invalid-feedback" *ngIf="formControls['password'].invalid && formControls['password'].touched">
            Password must be at least 6 characters long.
          </div>
        </div>
    
        <div class="form__group field">
          
          <select id="role" formControlName="role" [class.is-invalid]="formControls['role'].invalid && formControls['role'].touched">
            <option class="options" value="" disabled>Select a role</option>
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="formControls['role'].invalid && formControls['role'].touched">
              Please select a role.
            </div>
            
            <button  class="animated-button" type="submit" [disabled]="registrationForm.invalid">Register<span></span><span></span></button>
        </div>
        <br>
        <br>
        <p class="account">Already Have an account ? <a [routerLink]="['/login']" id="signin">Sign In</a></p>
        
      </form>
      </div>
    </div>
  
  <img class="login_image" src="../../assets/register-img.svg" alt="Login Logo" height="700px" width="700px">
</div>
  