.login_form {
    display: flex;
    margin-left: 90px;
  }
.login_image {
    margin-top: 80px;
    margin-left: 120px;
  }
  
  .animate__animated {
    font-weight: 800;
    font-size: 6.5vw;
    text-transform: uppercase;
    margin-top: 180px;
    margin-left: 200px;
  }
  
  .title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #408f95;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  .title-word-5 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #3f7a7e;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  #name,#email,#password{
    font-weight: 100;
  }
  .form{
    padding-left: 50px;
    padding-right: 50px;
  }

  .form__group {
    position: relative;
    padding: 20px 0 0;
    margin-left: 300px;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 15px;
    font-weight: 200;
    color: #070707ac;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    font-weight: 200;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    font-weight: 200;
    color: #000000;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 100;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  .invalid-feedback{
    color: red;
  }
  .animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin-top: 18px;
    margin-left: 330px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #00000040;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2195f386;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 5px #08477a60;
    color: #000000;
  }
  
  .animated-button:active {
    scale: 0.95;
  }
  
  .animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
  }
  .options{
    font-family: 'Georgia';
    font-size: larger;
    color: #116399;
 
  }
  select{
    padding: 5px 8px 5px 8px;
    margin-left: 2px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: larger;
  }
  .account{
    font-size: 22px;
    color: #000000;
    font-family:'Cochin';
    font-weight: 400;
    margin-left: 240px;
  }
  #signin{
    text-decoration: none;
    cursor: pointer;
    color: #116399;
    font-size: 22px;
    font-weight: 500;
  }
  #signin:hover{
    color:#DF8453
  }
  .text-danger{
    color: red;
  }

  
  
  