

.typing{
    color: #2c7bb8;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
  }
  
  @keyframes carouselAnim{
    0%{
      transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
      transform-origin: center center;
      z-index: 10;
    }
    27%{
      transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
      transform-origin: center center;
      z-index: 10;
    }
    33.33333%{
      transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
      transform-origin: left center;
      z-index: 5;
    }
    60%{
      transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
      transform-origin: left center;
      z-index: 5;
    }
    66.666666%{
      transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
      transform-origin: right center;
      z-index: 5;
    }
    93%{
      transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
      transform-origin: right center;
      z-index: 5;
    }
    100%{
      transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
      transform-origin: center center;
      z-index: 10;
    }
  }
  
  .carousel__container{
    width: 100%;
    max-width: 960px;
    perspective: 300px;
    perspective-origin: 50% 60%;
    min-height: 14em;
    margin: 3em auto;
  }
  
  .carousel__item{
    position: absolute;
    width: 33%; 
    padding-bottom: 19%;
    animation-name: carouselAnim;
    /* transform: translateX(0) rotatey(50deg); */
    transform-origin: left center;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  
  .carousel__item:first-child{
    animation-delay: -4s;
  }
  .carousel__item:last-child{
    animation-delay: -8s;
  }
  
  .carousel__image{
    position: absolute;
    width: 100%;
    border-radius: 2px;
  }
  
.slider {
	background: rgb(255, 255, 255);
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 150px;
	margin: auto;
    padding-top: 30px;
	overflow: hidden;
	position: relative;
	width: 1580px;
}

.slider::before,
.slider::after {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
}

.slide {
	height: 100px;
	width: 250px;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

.slide-head{
    font-size: 68px;
    font-weight: 800;
    text-align: center;
    color:rgba(0, 0, 0, 0.649);
    position: relative;
    padding-bottom: 20px;
   
   
}
.vdo{
  display: flex;
  padding-left: 25px;
  padding-right: 10px;
  margin-left: 180px;
  margin-right: 200px;
}
#iframe2{
  padding-left: 20px;
  padding-right: 20px;
}
