
    
    <div class="login_form">
        <img  class="login_image" src="../../assets/Login.svg" alt="Login Logo" height="700px" width="700px">
        <h1 class="animate__animated animate__backInDown">
            <span class="title-word title-word-1">L</span>
            <span class="title-word title-word-2">O</span>
            <span class="title-word title-word-3">G</span>
            <span class="title-word title-word-4">I</span>
            <span class="title-word title-word-5">N</span>
        </h1>
    </div>    
